img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}
body {
    background-color: #cadefc;
    padding: 10px;
    margin: 10px
}
h1, h2 {
    text-align: center;
    color: #b898d3;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
footer {
    text-align: center;
}
nav {
    text-align: center;
}
p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
figcaption {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
}



