* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #65222c;
    color: #b7aaaa;
}

.container {
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.sidebar {
    width: 270px;
    background-color: #c5c5c5;
    padding: 10px 10px;
    position: fixed;
    height: 100vh; 
    text-align: right;
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
    z-index: 1;
}

.sidebar .logo {
    max-width: 250px;
    margin: 20px auto;
}

.sidebar nav ul {
    display: flex; 
    flex-direction: column; 
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
}

.sidebar nav ul li {
    padding: 8px 16px;
    cursor: pointer;
}

.sidebar nav ul li a {
    color: #66051d;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8em;
}

.sidebar nav ul li a:hover {
    color: #b51111ba;
}

/* Main Content */
.main-content {
    margin-left: 270px; 
    padding: 20px;
    max-width: calc(100% - 270px);
    flex-grow: 1;
}

/* Header Styles */
.header {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.header-image {
    width: 100%;
    height: 80%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: #fff;
    text-align: center;
}

.header h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(6, 6, 6, 0.999);
}

.header h2 {
    font-size: 1.8em;
    margin-top: 10px;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.995);
}

/* Index Images */
.image-gallery {
    display: flex;
    align-items: center;
    padding: 20px;
}

.image-item {
    flex: 1;
    text-align: center;
    margin: 10px;
    transition: transform 0.3s ease-in-out; 
}

.image-item img {
    width: 550px;
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    box-shadow: 0 5px 11px rgba(0, 0, 0, 0.997);
}

.image-item:hover {
    transform: scale(1.05);
}

figcaption {
    margin-top: 5px;
    font-size: 1em;
    font-weight: bold;
    background-color: #726c70d0;
    color: #050505;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.973);
}

/* About me Section */
.about-section {
    padding: 50px 30px;
    margin-top: 20px;
    margin-left: 290px;
    margin-right: 20px;
    background: #aea3a3;
    color: #dddddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    display: block;
    justify-content: center;
    max-width: calc(100% - 270px);
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}

.about-image {
    flex: 1 1 300px;
    max-width: 300px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-image:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.7);
}

.about-text {
    flex: 2 1 400px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    text-align: left;
    background-color: #513d63c9;
}

.about-text h1 {
    font-size: 2.4em;
    margin-bottom: 20px;
    text-align: center;
    color: #f9f7f7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.577);
}

.about-text p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #dddddd;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.577);
}

.about-text p:last-child {
    margin-bottom: 0;
}

/* Contact Me Section */
.intro {
    background: #aea3a3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    padding: 20px 15px;
    text-align: center;
    max-width: 800px;
    margin: 15px auto;
}

.intro h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #1a1a1a;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.507);
    margin-bottom: 5px;
}

.intro p {
    font-size: 1.2em;
    color: #1a1a1a;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.258);
    line-height: 1.8;
    margin-top: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.business-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    margin-top: 20px;
    margin-bottom: 0;
}

.business-card {
    width: 500px;
    height: 400px;
    perspective: 1000px;
    position: relative;
    margin-bottom: 20px;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.6s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.777);
    padding: 20px;
}

.card-front {
    background: radial-gradient(circle, #ffffff 0%, #694b86 100%);
    color: #fff;
    transform: rotateY(0deg);
}

.card-front img {
    width: 450px;
    height: 400px;
}

.card-back {
    background: radial-gradient(circle, #ffffff 0%, #694b86b4 100%);
    color: #1a1a1a;
    transform: rotateY(180deg);
}

.business-card:hover .card-front {
    transform: rotateY(-180deg);
}

.business-card:hover .card-back {
    transform: rotateY(0deg);
}

.card-back-content {
    text-align: center;
}

.card-back-content p {
    font-size: 1.3em;
    margin: 10px 0;
    color: #1a1a1a;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.258);
}

/* Social Links */
.social-links {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin: 20px 0;
}

.social-links a {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.social-links i {
    font-size: 3em;
    margin-right: 8px;
    transition: transform 0.3s, color 0.3s;
}

.social-links a:hover {
    color: #080606;
}

.social-links a:hover i {
    color: #c52def;
    transform: scale(1.2);
}

/* Nail Gallery Styles */
.nail-content {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 270px);
    box-sizing: border-box;
}
.nail-gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    width: 100%;
}

.nail-item {
    position: relative;
    overflow: hidden;
}

.nail-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    transition: transform 0.3s ease;
}

.nail-item:hover img {
    transform: scale(1.05);
}

.nail-item figcaption {
    margin-top: 5px;
    padding: 5px 8px;
    text-align: center;
    font-size: 0.7em;
    background-color: #726c70d0;
    color: #050505;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.899);
}

/* Makeup Gallery Styles */
.makeup-content {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 270px);
    box-sizing: border-box;
}
.makeup-gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    width: 100%;
}

.makeup-item {
    position: relative;
    overflow: hidden;
}

.makeup-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    transition: transform 0.3s ease;
}

.makeup-item:hover img {
    transform: scale(1.05);
}

.makeup-item figcaption {
    margin-top: 5px;
    padding: 5px 8px;
    text-align: center;
    font-size: 0.7em;
    background-color: #726c70d0;
    color: #050505;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.899);
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Featured Page */
.publications-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1300px;
    padding: 20px; 
    margin-top: 20px;
    margin-left: calc(270px + 20px);
  }
  
  .publication-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background: #fff;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
    text-align: center; 
}
  
  .publication-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  .publication-card h3 {
    font-size: 18px;
    margin: 15px 15px 10px;
    color: #252323;
  }
  
  .award-description {
    font-size: 14px;
    color: #696767;
    margin: 0 15px 15px;
    line-height: 1.4;
  }
  
  .read-more {
    display: inline-block;
    background: #70528ae3;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.515);
    padding: 8px 15px;
    text-decoration: none;
    margin: 0 15px 15px;
    transition: background 0.3s ease;
  }
  
  .read-more:hover {
    background: #c52def;
  }
  .publication-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.271);
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s ease;
}
  .publication-card:hover::after {
    opacity: 1;
  }

/* Footer Styles */
footer {
    padding: 20px;
    margin: 0 0 0 270px;
    margin-top: 20px;
    text-align: center;
    color: #bbb7b7;
    font-size: 0.9em;
}

footer a {
    color: #bbb7b7;
    text-decoration: none;
}

footer a:hover {
    color: #f30303f7;
}

/* Responsive Styles */
@media (max-width: 1000px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      padding: 10px;
      background-color: #c5c5c5;
    }
  
    .sidebar .logo {
      width: 100px;
      margin: 0;
      float: left;
    }
  
    .sidebar nav ul {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .sidebar nav ul li {
      padding: 5px 10px;
    }
  
    .sidebar nav ul li a {
      font-size: 1em;
    }
  
    .main-content {
      margin-left: 0;
      max-width: 100%;
      padding-top: 180px; 
    }
    /* about */
    .about-section {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
        max-width: 100%;
        padding: 20px;
      }
    
      .about-section h2 {
        font-size: 2em;
      }
    
      .about-section p {
        font-size: 1em;
      }
    
      .about-content {
        flex-direction: column;
        align-items: center;    
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        padding: 20px;
      }
    
      .about-image {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
        margin-top: 70px;
      }
    
      .publications-grid {
        grid-template-columns: 1fr;
        margin-left: 0;
        margin-top: 120px;
      }
      .publication-card {
        max-width: 100%;
      }
    
    /* Footer */
    footer {
        margin-left: 0; 
        padding: 10px; 
    }
    .footer-main {
        flex-direction: row; 
        justify-content: center;
        flex-wrap: wrap; 
    }
    .footer-validations {
        width: 100%; 
        text-align: center; 
    }
}

/* Nail and Makeup Styles */
@media (max-width: 1200px) {
    .nail-content,
    .makeup-content {
      margin-left: 0;
      width: 100%;
      padding: 20px;
      margin-top: 50px;
    }
  
    .nail-gallery,
    .makeup-gallery {
      grid-template-columns: repeat(3, 1fr); 
      gap: 20px; 
      margin-top: 50px;
    }
  
    .nail-item img,
    .makeup-item img {
      height: 350px; 
      object-fit: cover;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .nail-gallery,
    .makeup-gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* Business Card */
  @media (max-width: 1000px) {
    .business-card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .business-card {
        width: 100%; 
        max-width: 350px; 
        height: 300px; 
        perspective: 1000px; 
        margin-bottom: 20px;
    }

    .card-front,
    .card-back {
        padding: 30px 25px; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.94); 
    }

    .card-front img {
        width: 100%; 
        height: auto; 
    }

    .card-back-content {
        padding: 20px; 
        text-align: center; 
    }

    .card-back-content h2 {
        font-size: 1.5em; 
    }
    .card-back-content p {  
        font-size: 1em; 
    }
    .card-back-content a {
        font-size: 0.8em; 
        color: #1a1a1a;
        text-decoration: none; 
        margin: 5px 0; 
    }
    .social-links a {
        font-size: 0.8em; 
    }

    .social-links i {
        font-size: 2.5em; 
    }
    .intro {
        margin-top: 0; 
        margin-bottom: 0;
    }
}
