<nav>
    <a href="https://ablant17.github.io/">GitHub.io</a> ∙
    <a href="https://github.com/ablant17">GitHub.com</a> ∙
    <a href="https://ablant17.github.io/itis3135/">ITIS3135</a> ∙
    <a href="https://www.linkedin.com/in/ashleyblanton0306">LinkedIn</a> ∙
    <a href="https://www.freecodecamp.org/ablant17">FreeCodeCamp</a> ∙
    <a href="https://www.codecademy.com/profiles/ablant17">Codecademy</a>
    <p>© 2024 Puellastar - Designed By <a href="https://webpages.charlotte.edu/ablant17/itis3135/abwebinnovations.com/">AB Web Innovations</a></p>
</nav>
<p><em>Wrap with Care, Hop with Flair!</em></p>
<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML." />
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_html">
    <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS." />
</a>
